bcrypt==3.2.0
cffi==1.15.0
cryptography==36.0.1
greenlet==1.1.2
importlib-metadata==4.11.1
injector==0.18.4
Markdown==3.3.6
paramiko==2.9.2
Pillow==9.0.1
psycopg2==2.9.1
pycparser==2.21
PyNaCl==1.5.0
PyPDF2==1.26.0
pysftp==0.2.9
reportlab==3.6.6
roman==4.0
six==1.16.0
SQLAlchemy==1.4.20
zipp==3.7.0
